/*導覽列整體樣式*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(3, 104, 185);
    margin: 0;
    color: white;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

/* 醫院Logo樣式 */
.logo img {
    display: block;
    max-width: 100px;  /* 最大寬度 */
    height: auto;    /* 保持高度比例 */
    border: none;    /* 移除圖片邊框 */
    margin: 0%;
    padding: 0;
    margin-left: 40px;  /*增加左邊距讓logo往右移*/
}

/*導覽列鏈接的樣式*/
nav a {
    color: inherit;   /* 移除超連結顏色 */
    display: block;   /* 讓 <a> 填滿 <li> */
    padding: 20px;    /*滑鼠過去的方框大小*/
    color: white;
    font-size: 20px;  /*導覽列列表字體*/
    text-decoration:none;  /* 移除超連結底線 */
}

/* 滑鼠移到 `<a>` 時變成深底淺色 */
ul a:hover {
    background-color: rgb(122, 166, 203);
    color: black;
}

/*導覽列表樣式*/
nav ul {
    list-style: none;
    background-color: rgb(3, 104, 185);
    margin: 0;
    padding:0;
    border: 0;
    height: 80px;
    align-items: center;
}

/*導覽列靠右邊*/
.flex-nav {
    display: flex;
    justify-content:flex-end; 
}


/*標題（仁愛醫健檢中心）*/
.title a {
    font-family: "cwTeXYen", serif;
    color:#fff;
    font-size:30px;
    margin-left:-380px;
    letter-spacing: 2px;
    text-decoration: none;
}

/*醫院背景圖*/
.banner{
    display: block;
    background-image:url("banner_hospital.jpeg"); /*匯入醫院背景圖*/
    background-repeat: no-repeat; /*背景圖不要重複顯示*/
    background-attachment:scroll; /*背景圖不滑動*/
    background-position: center;
    background-size:auto;
    box-sizing: border-box;
    height: 250px; /*圖片高度*/
    width: 100%; /*寬度滿版*/
    margin-bottom: 0px;
    margin-top:90px; /*圖片上邊距*/
}


/*flexbox容器樣式（排列框）*/
.flex-container{
    display: flex;  /*外容器宣告為flex*/
    text-align: center;
    flex-direction: row;  /*元件排列方向*/
    justify-content: center;  
    gap: 30px;   
}

/*框的樣式*/ 
.box{
    display: inline-block; /*水平排列*/
    width: 350px;    /*方框寬度*/
    height: 400px;   /*方框高度*/
    background-color: rgb(3, 104, 185) ;
    margin: 10px;    /*方框間間距*/
    border-radius: 20px;   /*圓角*/
    margin-top: 30px; 
    padding: 10px; /*內邊距*/
}

/*鏈接樣式*/
.box a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /*移除鏈結底線*/  
}

.box:hover{
    background-color:rgb(122, 166, 203);
}

/*圖片樣式*/
.box img {
    margin: auto;
    max-width: 70%;
    height:auto;
    padding-top: 10%;
}

/*文字樣式*/
.box p{
    text-align: center; /* 文本居中 */
    margin: 0; /* 移除段落的默认边距 */
    color:rgb(255, 255, 255);  /*文字顏色*/
    text-align: center;   /*文字水平居中*/
    font-size: 1.6rem;    /*文字大小*/
    line-height:120px;   /*文字位置*/
}



 /*健檢類別查詢*/

 #hc{
    padding:80px 0;
    text-align:center;
}

#hc img{
    margin: auto;
    width: 180px;
    height: 170px;
}
#hc h3{
    font-weight:bold;
    text-align: center;
}
#hc a{
    color:#000000;
    text-decoration: none;
}
#hc .col-md-4{      /*每個col-md-4為一個容量*/
        padding :15px;
        background: #0367b9;/*按鈕本身顏色*/
        border-radius: 20px 20px;   /*(左上 右下)  (右上左下)，按鈕四個角變圓弧*/
}
#hc .col-md-4:hover{
        padding : 15px;
        background :linear-gradient(#f9fafb,#b5e0f6);
        box-shadow:1px 1px 4px #ccc;
}
#hc .container { /*包裹著三個案件的container*/
        width: 800px;  /* 設定容器的寬度為800px */
        height: 900px; /* 設定容器的高度為400px */
        padding: 20px; /* 設定內邊距 */
        margin: 0 auto; /* 水平居中 */
        background-color: #ffffff; /* 設定背景顏色 */
        border: 1px solid #ccc; /* 設定邊框 */
        
        
}
#hc .row {
    display: flex;
    margin: 0 auto; /* 水平居中 */
    padding-bottom: 640px; /*padding-bottom , 會參照父物件的 width 來計算*/
    justify-content: space-between; /* 讓列之間平均分佈空間 */
}