/*----------------------------導覽列-----------------------------*/

/*導覽列樣式*/
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0368b9;
    margin: 0; 
    color: white;
    height: 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; 
}

/* 醫院Logo樣式 */
.logo img {
    display: block;
    max-width: 100px;  /* 最大寬度 */
    height: auto;    /* 保持高度比例 */
    border: none;    /* 移除圖片邊框 */
    margin: 0%;
    padding: 0;
    margin-left: 40px;  /*增加左邊距讓logo往右移*/
    margin-top: 1px;
}

/*導覽列鏈接的樣式*/
nav a {
    color: inherit;   /* 移除超連結顏色 */
    display: block;   /* 讓 <a> 填滿 <li> */
    padding: 20px;    /*滑鼠過去的方框大小*/
    color: white;
    font-size: 20px;  /*導覽列列表字體*/
    text-decoration:none;  /* 移除超連結底線 */
}

/* 滑鼠移到 `<a>` 時變成深底淺色 */
ul a:hover {
    background-color: #7aa6cb;
    color: black;
}

/*導覽列表樣式*/
nav ul {
    list-style: none;
    background-color: #0368b9;
    margin: 0;
    padding:0;
    border: 0;
    height: 70px;
    align-items: center;
}

/*導覽列靠右邊*/
.flex-nav {
    display: flex;
    justify-content:flex-end; 
}


/*標題（仁愛醫健檢中心）*/
/*待解決：文字會跑 但用 position:fixed 微怪*/
.title a {
    font-family: "cwTeXYen", serif;
    color:#fff;
    font-size:30px;
    margin-left:-380px;
    letter-spacing: 2px;
    text-decoration: none;
}

/*醫院背景圖*/
.banner{
    display: block;
    background-image:url("images/banner_hospital.jpeg"); /*匯入醫院背景圖*/
    background-repeat: no-repeat; /*背景圖不要重複顯示*/
    background-attachment:scroll; /*背景圖不滑動*/
    background-position: center;
    background-size:auto;
    box-sizing: border-box;
    height: 250px; /*圖片高度*/
    width: 100%; /*寬度滿版*/
    margin-bottom: 0px;
    margin-top:75px; /*圖片上邊距*/
}

/*-----------------------------------首頁(健檢類別查詢、線上預約)index.php---------------------------------*/

/*flexbox容器樣式（排列框）*/
.flex-container{
    display: flex;  /*外容器宣告為flex*/
    text-align: center;
    flex-direction: row;  /*元件排列方向*/
    justify-content: center; 
    gap: 30px;   
}

/*框的樣式*/
.box{
    display: inline-block; /*水平排列*/
    width: 280px;    /*方框寬度*/
    height: 300px;   /*方框高度*/
    background-color: #0368b9 ;
    margin: 10px;    /*方框間間距*/
    border-radius: 20px;   /*圓角*/
    margin-top: 30px; 
    padding: 10px; /*內邊距*/
}

/*鏈接樣式*/
.box a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /*移除鏈結底線*/  
}

.box:hover{
    background-color:rgb(122, 166, 203);
}

/*圖片樣式*/
.box img {
    margin: auto;
    max-width: 60%;
    height:auto;
    margin-top: 10%;
    border-radius: 15px;
}

/*文字樣式*/
.box p{
    text-align: center; /* 文本居中 */
    margin: 0; /* 移除段落的默认边距 */
    color:#ffffff;  /*文字顏色*/
    text-align: center;   /*文字水平居中*/
    font-size: 1.6rem;    /*文字大小*/
    line-height:100px;   /*文字位置*/
}

 /*--------------------------------健檢類別查詢 item_search.php-----------------------------------------*/

/*健檢類別*/
.title h2{
    margin-left: 220px;
}


/*flexbox容器樣式（排列框）*/
.container{
    display: flex;  /*外容器宣告為flex*/
    text-align: center;
    flex-direction: row;  /*元件排列方向*/
    justify-content: center;  
    gap: 30px;   
}

/*框的樣式*/
.box1{
    display: inline-block; /*水平排列*/
    width: 300px;    /*方框寬度*/
    height: 320px;   /*方框高度*/
    background-color: #0368b9 ;
    margin: 10px;    /*方框間間距*/
    border-radius: 20px;   /*圓角*/
    margin-top: 30px; 
    padding: 10px; /*內邊距*/
}

/*鏈接樣式*/
.box1 a{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none; /*移除鏈結底線*/  
}

.box1:hover{
    background-color:#7aa6cb;
}

/*圖片樣式*/
.box1 img {
    margin: auto;
    max-width: 60%;
    height:auto;
    margin-top: 10%;
    border-radius: 15px;
}

/*文字樣式*/
.box1 h3{
    text-align: center; /* 文本居中 */
    margin: 0; /* 移除段落的默認邊距 */
    color:rgb(255, 255, 255);  /*文字顏色*/
    text-align: center;   /*文字水平居中*/
    font-size: 1.6rem;    /*文字大小*/
    line-height:100px;   /*文字位置*/
}


/*<----------------------------------卓越套餐、尊爵套餐 左邊導覽列------------------------------------->*/

.sidenav {
    height: 100%;
    width: 210px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color:#7aa6cb;
    padding-top: 90px;
}

.sidenav a {
    padding: 20px 40px 15px 60px; /*上右下左*/
    text-decoration: none;
    font-size: 18px;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    color: #dfdfdf;
}

/*-------------------------------健檢套餐的項目表格(先保留，之後須再改成資料庫語言的寫法)----------------------*/
.content {
    margin-left: 240px;
    margin-bottom: 5px; /* 文字和表格的間距 */
    margin-top: 20px;
}  
 
table.type1 {
    border-collapse: collapse; /* 合併框為單線條 */
    margin-left: 240px;
    margin-top: 10px;
    width: 80%;
}

table.type2 {
    border-collapse: collapse; /* 合併框為單線條 */
    margin-left: 240px;
    margin-top: 10px;
    width: 80%;
}
  
th, td {
    border: 1px solid black; /* 單線條邊框 */
    padding: 6px; /*表格大小*/
    text-align: left;
    border-width:min-content;
}

tr.category1 {
    background-color:rgb(170, 192, 203) ; 
}

tr.category2 {
    background-color: #f2f2f2; 
}

th.centered , td.centered {
    text-align: center; /*特定列的文本置中*/
}


/*------------------------------------reserve_online.php-------------------------------------*/
.ck{ 
    text-align:center;
    align-items: center;
    color:rgb(255, 255, 255);  /*文字顏色*/
    font-size: 12px;    /*文字大小*/
}
.button1, .button2{
    position: relative;
    justify-content: center;
    width:500px;
    height:100px;
    border-radius: 20px;   /*圓角*/
    margin-top: 20px;
    color:rgb(0, 0, 0) ;/*文字顏色*/
    font-size: 20px;    /*文字大小*/
    margin: 10px; /*間距*/  
}

.button1:hover{
    padding : 20px;
    background:linear-gradient(#ffffff,#cad6e3) ;
    box-shadow:1px 1px 4px #bbe4f8;
}

.button2:hover{
    padding : 20px;
    background :linear-gradient(#f9fafb,#cad6e3);
    box-shadow:1px 1px 4px #bbe4f8;
}



/*------------------------------------pay.php-------------------------------------*/
/*繳費方式選擇*/
.title h2{
    margin-left: 220px;
}

/*flexbox容器樣式（排列框）*/
.container{
    display: flex;  /*外容器宣告為flex*/
    text-align: center;
    flex-direction: row;  /*元件排列方向*/
    justify-content: center;  
    gap: 30px;   
}

/*框的樣式*/
.pay1{
    display: inline-block; /*水平排列*/
    width: 220px;    /*方框寬度*/
    height: 220px;   /*方框高度*/
    background-color: #7aa6cb;
    margin: 10px;    /*方框間間距*/
    border-radius: 20px;   /*圓角*/
    margin-top: 50px; 
    padding: 10px; /*內邊距*/
}

/*圖片樣式*/
.pay1 img {
    margin: auto;
    max-width: 70%;
    height:auto;
    margin-top:10%;
    border-radius: 15px;
}

/*文字樣式*/
.pay1 h3{
    text-align: center; /* 文本居中 */
    margin: 0; /* 移除段落的默认边距 */
    color:rgb(255, 255, 255);  /*文字顏色*/
    text-align: center;   /*文字水平居中*/
    font-size: 1.2rem;    /*文字大小*/
    line-height:50px;   /*文字位置*/
}

/*------------------------------------contact.php-------------------------------------*/

table.type3 {
    border-collapse: collapse; /* 合併框為單線條 */
    margin:auto;
    margin-top: 30px;
    margin-bottom: 40px;
    width: 70%;
}

td.c1{
    border: 1px solid black; /* 單線條邊框 */
    padding: 6px; /*表格大小*/
    text-align: left;
    width:180px;
}
td.c2{
    width:100px;
}

tr.category3{
    background-color: #fbfbfb;
}


/*------------------------------form.php預約表格---------------------------*/

.form-section {
    display: flex;
    flex-direction: column; /* 使子元素垂直排列 */
    justify-content: center; /* 水平居中 */
    align-items: center; /* 垂直居中 */
    height: 100vh; /* 容器高度設為視口的100% */
    margin-top: 120px; /* 在表單區域頂部添加邊距 */
    margin-bottom: 120px;
}

.form-title {
    margin-bottom: 40px; /* 為標題和表單之間增加一些間距 */
    text-align: center; /* 標題文字居中 */ 
}

form {
    width: 60%;     /* 表格大小*/
    background-color: #f9f9f9;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="date"],
input[type="tel"],
input[type="email"],
select {
    width: 80%; /* 寬度 */
    padding: 10px; /* 內邊距 */
    position: relative;
    border-radius: 15px; /* 圓角 */
    border: 1px solid #ccc; /* 邊框 */
    outline: none; /* 去除點擊時的藍色外框 */
    -moz-appearance: none; /* 移除Firefox的預設樣式 */
    -webkit-appearance: none; /* 移除Chrome和Safari的預設樣式 */
    appearance: none; /* 移除預設的外觀 */
    background-color: white; /* 背景顏色 */
    color: black; /* 文字顏色 */
    margin-left: 10px; /* 往右移動 10px */
    display: inline-block; /* 讓每個元素在同一行顯示 */
    box-sizing: border-box; /* 讓 padding 和 border 不會改變元素的寬度 */
}

/* 針對IE瀏覽器，移除下拉箭頭 */
select::-ms-expand {
    display: none;
}

.button-group {
    display: flex;
    justify-content: center; /* 這會將按鈕組水平居中 */
}

.button3 {
    margin: 0 10px; /* 按鈕之間的間距 */
    padding: 10px 20px; /* 為按鈕增加內邊距 */
    border-radius: 15px; /* 同樣為按鈕增加圓角 */
    border: none; /* 去除按鈕的邊框 */
    background-color: #abc1cb; /* 為按鈕增加背景顏色，這裡使用的是一種藍色 */
    color: white; /* 設置按鈕文字為白色 */
    cursor: pointer; /* 當鼠標懸停在按鈕上時，顯示指針手型 */
    outline: none; /* 去除點擊時的藍色外框 */
}

.button3:hover{
    background-color: #cad6e3;
}
.required {
    color: red; /* 將星號設置為紅色來突出顯示 */
    margin-right: 5px; /* 為了美觀，在星號和文字之間添加一些間距 */
}



